.landingPage{
    background-image: url(/Moonlight-Cafe-Lounge/images/landingPage.jpg);
    height: 800px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 220px;
}

.page-content h3 {
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    max-width: 500px;
    margin-bottom: 32px;
}
